@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html,
body,
#root {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.wrapper {
    height: 100%;
}

.sider {
    flex: 0 0 310px !important;
    max-width: unset !important;
    background: var(--white) !important;
    padding: 34px;
}

.menu-sidebar {
    margin-top: 40px;
    border: none !important;
}

.ant-menu-item {
    display: flex !important;
    align-items: center;
    padding: 12px 20px;

    svg {
        fill: #616161;
    }

    &.ant-menu-item-selected {
        background: var(--primary);
        color: var(--white);

        svg {
            fill: var(--white);
        }
    }
}
