@import "../../styles/base/mixins";

.login {
    height: 100vh;
    overflow: hidden;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;

        @include media(768) {
            grid-template-columns: 1fr;
        }
    }

    &__left {
        @include media(768) {
            display: none;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        max-width: calc(350px + 48px);
        width: 100%;
        padding-inline: 24px;
    }

    &__title {
        color: var(--black-90);
        font-size: 30px;
        font-weight: 700;
        margin-top: 2px;
    }

    &__subtitle {
        color: var(--black-80);
        font-size: 16px;
    }
}
