:root {
    --primary: #6021a3;
    --white: #fff;
    --black-100: #000;
    --black-90: #1a202c;
    --black-80: #2d3748;
    --black-70: #4a5568;

    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
